
export(BW2stagePPS ,
       BW2stagePPSe ,
       BW2stageSRS ,
       BW3stagePPS ,
       BW3stagePPSe ,
       clusOpt2 ,
       clusOpt2fixedPSU ,
       clusOpt3 ,
       clusOpt3fixedPSU ,
       CompMOS,
       CVcalc2,
       CVcalc3,
       deff,
       deffCR,
       deffH,
       deffK,
       deffS,
       dub,
       gamEst ,
       gammaFit ,
       GeoDistPSU ,
       GeoDistMOS ,
       GeoMinMOS ,
       HMT ,
       CompMOS ,
       nAuditAttr ,
       nAuditMUS ,
       nCont ,
       nContMoe,
       nContOpt,
       nDomain,
       nDep2sam ,
       nLogOdds ,
       NRadjClass,
       NRFUopt,
       nPPS,
       nProp,
       nProp2sam,
       nPropMoe,
       nWilson,
       pclass,
       strAlloc,
       unitVar,
       wtdvar)
importFrom("graphics",
           "grid",
           "hist",
           "plot")
importFrom("stats",
           "as.dist",
           "binomial",
           "cutree",
           "dnorm",
           "glm",
           "hclust",
           "lsfit",
           "median",
           "pbinom",
           "phyper",
           "pnorm",
           "qnorm",
           "quantile",
           "quasibinomial",
           "rgamma",
           "var",
           "weighted.mean")
importFrom("utils", "head")
importFrom("geosphere",
           "distm",
           "distHaversine")
importFrom("usmap",
           "plot_usmap",
           "usmap_transform")
importFrom("dplyr",
           "full_join",
           "inner_join")
importFrom("ggplot2",
           "geom_point")

